header {
  grid-column: 1/-1;
  display: flex;
  padding-block: rem(77px);
  background-color: $main-green;
  color: $main-white;

  .main-header {
    grid-column: 2/4;
    display: flex;
    align-items: center;
    gap: rem(80px);
  }

  .nav-links {
    display: flex;
    gap: rem(40px);
    font-size: rem(18px);
  }

  .btn {
    margin-inline-start: auto;
    @include btn($color: $main-white, $bg-color: $main-green);
  }
}