.sub-hero-container {
    grid-column: 1/-1;
    height: rem(684px);
    background-color: $main-dark-green;
    color: $main-white;
    place-items: center;
    position: relative;
    overflow: hidden;

    .half-circle-bg {
        position: absolute;
        right: em(-100px);
        bottom: 0;
    }

    .sub-hero {
        grid-column: 2/4;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;

        h2 {
            font-size: rem(48px);
            max-width: rem(445px);
            max-height: max-content;
            line-height: 1;
        }

        .red-line {
            position: absolute;
            top: rem(-50px);
        }

        .card-list {
            margin-inline-start: em(140px);

            .card {
                gap: em(23px);

                h4 {
                    font-size: rem(18px);
                    color: $main-salmon;
                    margin-block-end: em(16px)
                }

                p {
                    font-size: rem(15px);
                    margin-block-end: em(35px);
                }

                img {
                    width: rem(70px);
                    height: rem(70px);
                }
            }
        }
    }
}