//COLOR PALETTE
$main-green: #014e56;
$main-deep-jungle: #004047;
$main-dark-green: #012F34;
$main-white: #ffffff;
$main-light-green: #79c8c7;
$main-salmon: #f67e7e;
$police-blue: #2c6269;

// LAYOUT BREAKPOINTS
$break-narrow: 1200px;
$break-normal: 1360px;
$break-wide: 1920px;

//Layout:
$layoutPadding: 1.6rem;