* {
  box-sizing: border-box;
}

html {}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Livvic', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
a {
  margin: 0;
}

.logo {}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
  color: unset;
}



/* Dont stretch my Media */
img,
embed,
video,
object {
  max-width: 100%
}

/* Simple and useful CSS Debugging Technique */
.debug * {
  outline: 1px solid gold
}